<div class="footer">
  <div class="footer-links">
    <p class="m-0 text-white"> <strong>Canecão Games</strong> </p>
  </div>
    <div class="footer-links">
      <a><i class="fab fa-instagram"></i></a>
      <a><i class="fab fa-youtube"></i></a>
      <a><i class="fa-brands fa-telegram"></i></a>
    </div>
</div>
