<div>
  <div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://laart.art.br/wp-content/uploads/2020/07/estilistasfamosos-capa.jpg');">
    <div class="inner-container">
    </div>
  </div>
  <div class="inner-banner row">
    <div class="col-4">
        <i class="fas fa-utensils"></i>
        <p>Homemade food</p>
    </div>
    <div class="col-4">
        <i class="fas fa-truck"></i>
        <p>Quick and safe delivery</p>
    </div>
    <div class="col-4">
        <i class="fas fa-hand-holding-heart"></i>
      <p>Local cooks</p>
    </div>
  </div>
    <div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://mspontocom.com.br/site/wp-content/uploads/2020/09/site-inscricoes-abertas-para-consultorias-gratuitas-sobre-moda-em-mato-grosso-do-sul-aplicativos-de-moda-750x375.png');">
      <div class="inner-container">
      <h2>Mais Vendidos</h2>
      </div>
    </div>
  <div class="banner">
    <div class="inner-container">
    <h2> Sobre a marca</h2>
    </div>
  </div>
  <div class="banner">
    <div class="inner-container">
    <h2> Historia da marca</h2>
    </div>
  </div>
</div>
