.inner-container {
  margin: auto;
  text-align: center;
  }

  .inner-container h1 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  }

  .inner-container p {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  }
